<div class="card-columns m-5 animated fadeIn">
    <div (click)="verArtista(item)" class="card puntero" *ngFor="let item of items" >
        <img [src]="item.images | noimage" class="card-img-top" alt="..." />
        <div class="card-body ">
            <h5 class="card-title">{{ item.name }}</h5>
            <div *ngIf="!item.artists; then seguidores; else artistas"></div>
            <p class="card-text">
                <ng-template #artistas>
                    <span *ngFor="let artista of item.artists"
                        class="badge badge-pill badge-primary">{{ artista.name }}</span>
                </ng-template>
                <ng-template #seguidores>
                    <span class="badge badge-pill badge-primary"> Seguidores: {{ item.followers.total}}</span>
                </ng-template>
            </p>
        </div>
    </div>
</div>